body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main-content {
    flex: 1;
}

.footer {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer ul li {
    display: inline;
    margin: 0 10px;
}

.footer ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 0.9rem;
}

.footer ul li a:hover {
    color: #ff4d4d;
}

.footer .social-icons a {
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
}

.footer .social-icons a:hover {
    color: #ff4d4d;
}