:root {
    --theme-color: #E8092E;
}
a {
    text-decoration: none;
}
.nav-header {
    position: relative;
    z-index: 41;
  }
  
  .sticky-wrapper {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  
  .sticky-wrapper.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-animation: stickyAni 0.4s ease-in-out;
            animation: stickyAni 0.4s ease-in-out;
  }
  
  @-webkit-keyframes stickyAni {
    0% {
      -webkit-transform: translate3d(0, -40px, 0) scaleY(0.8);
              transform: translate3d(0, -40px, 0) scaleY(0.8);
      opacity: 0.7;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) scaleY(1);
              transform: translate3d(0, 0, 0) scaleY(1);
      opacity: 1;
    }
  }
  
  @keyframes stickyAni {
    0% {
      -webkit-transform: translate3d(0, -40px, 0) scaleY(0.8);
              transform: translate3d(0, -40px, 0) scaleY(0.8);
      opacity: 0.7;
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0) scaleY(1);
              transform: translate3d(0, 0, 0) scaleY(1);
      opacity: 1;
    }
  }
  
  .main-menu a {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 18px;
    color: var(--body-color);
    font-family: var(--title-font);
  }
  
  .main-menu a:hover {
    color: var(--title-color);
  }
  
  .main-menu > ul > li {
    margin: 0 27px;
  }
  
  .main-menu > ul > li > a {
    padding: 36px 0;
  }
  
  .main-menu > ul > li > a:hover {
    color: var(--title-color);
  }
  
  .main-menu ul {
    margin: 0;
    padding: 0;
  }
  
  .main-menu ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
  }
  
  .main-menu ul li.menu-item-has-children > a:after {
    content: "\f078";
    position: relative;
    font-family: var(--icon-font);
    margin-left: 4px;
    font-weight: 700;
    top: 0;
    font-size: 12px;
  }
  
  .main-menu ul li:last-child {
    margin-right: 0 !important;
  }
  
  .main-menu ul li:first-child {
    margin-left: 0 !important;
  }
  
  .main-menu ul li:hover > ul.sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 9;
  }
  
  .main-menu ul.sub-menu {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    visibility: hidden;
    min-width: 190px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 7px;
    left: -14px;
    opacity: 0;
    z-index: -1;
    border: 0;
    -webkit-box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
            box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
    border-radius: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  .main-menu ul.sub-menu a {
    font-size: 16px;
    line-height: 30px;
  }
  
  .main-menu ul.sub-menu {
    padding: 18px 20px 18px 18px;
    left: -27px;
  }
  
  .main-menu ul.sub-menu li {
    display: block;
    margin: 0 0;
    padding: 0px 9px;
  }
  
  .main-menu ul.sub-menu li.menu-item-has-children > a:after {
    content: "\f105";
    float: right;
    top: 1px;
  }
  
  .main-menu ul.sub-menu li a {
    position: relative;
    padding-left: 23px;
    text-transform: capitalize;
  }
  
  .main-menu ul.sub-menu li a:before {
    content: "\f105";
    position: absolute;
    top: 8px;
    left: 0;
    font-family: var(--icon-font);
    width: 11px;
    height: 11px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    color: var(--title-color);
    font-weight: 500;
  }
  
  .main-menu ul.sub-menu li ul.sub-menu {
    left: 100%;
    right: auto;
    top: 0;
    margin: 0 0;
    margin-left: 20px;
  }
  
  .main-menu ul.sub-menu li ul.sub-menu li ul {
    left: 100%;
    right: auto;
  }
  
  /****header-top*****/
  .main-menu a {
    display: block;
    position: relative;
    font-weight: 600;
    font-family: var(--body-font);
    font-size: 18px;
    color: var(--title-color);
  }
  
  .main-menu a:hover {
    color: var(--theme-color);
  }
  
  .main-menu > ul > li {
    margin: 0 11px;
  }
  
  .main-menu > ul > li > a {
    padding: 31.5px 0;
  }
  
  .main-menu > ul > li > a:hover {
    color: var(--theme-color);
  }
  
  .main-menu ul {
    margin: 0;
    padding: 0;
  }
  
  .main-menu ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
  }
  
  .main-menu ul li.menu-item-has-children > a:after {
    content: "\f107";
    position: relative;
    font-family: var(--icon-font);
    margin-left: 5px;
    font-weight: 600;
    top: 0;
    font-size: 12px;
    display: inline-block;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  
  .main-menu ul li.menu-item-has-children:hover > a:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
  .main-menu ul li:last-child {
    margin-right: 0 !important;
  }
  
  .main-menu ul li:first-child {
    margin-left: 0 !important;
  }
  
  .main-menu ul li:hover > ul.sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    z-index: 9;
  }
  
  .main-menu ul.sub-menu {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    visibility: hidden;
    min-width: 190px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    left: -14px;
    opacity: 0;
    z-index: -1;
    border: 0;
    -webkit-box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
            box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
    border-radius: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    padding: 18px 20px 18px 18px;
    left: -27px;
  }
  
  .main-menu ul.sub-menu a {
    font-size: 16px;
    line-height: 30px;
  }
  
  .main-menu ul.sub-menu a span {
    font-size: 12px;
    padding: 0px 5px;
    margin-left: 4px;
    background-color: var(--theme-color);
    color: var(--white-color);
    padding: 2px 5px;
    border-radius: 4px;
    position: relative;
    top: -1px;
  }
  
  .main-menu ul.sub-menu li {
    display: block;
    margin: 0 0;
    padding: 0px 9px;
  }
  
  .main-menu ul.sub-menu li.menu-item-has-children > a:after {
    float: right;
    top: 1px;
    font-size: 16px;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .main-menu ul.sub-menu li.menu-item-has-children:hover > a:after {
    opacity: 0;
    margin-right: 5px;
  }
  
  .main-menu ul.sub-menu li a {
    position: relative;
    padding-left: 0px;
    text-transform: capitalize;
  }
  
  .main-menu ul.sub-menu li a:before {
    content: "\f105";
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: var(--icon-font);
    width: 11px;
    height: 11px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    color: var(--theme-color);
    font-weight: 700;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .main-menu ul.sub-menu li a:hover {
    padding-left: 15px;
  }
  
  .main-menu ul.sub-menu li a:hover:before {
    opacity: 1;
    left: 0;
  }
  
  .main-menu ul.sub-menu li ul.sub-menu {
    left: 100%;
    right: auto;
    top: 0;
    margin: 0 0;
    margin-left: 20px;
  }
  
  .main-menu ul.sub-menu li ul.sub-menu li ul {
    left: 100%;
    right: auto;
  }
  
  .simple-icon {
    border: none;
    background-color: transparent;
    color: var(--title-color);
    padding: 0;
    font-size: 22px;
    position: relative;
  }
  
  .simple-icon .badge {
    padding: 0.35em 0.57em;
    font-size: 10px;
    font-weight: 500;
    top: -6px;
    right: 0;
    left: auto;
  }
  
  .simple-icon:has(.badge) {
    padding-right: 12px;
  }
  
  .header-button {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px 40px;
  }
  
  .header-button .th-btn {
    margin-left: 10px;
  }
  
  .social-links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: normal;
  }
  
  .social-links a {
    font-size: 16px;
    display: inline-block;
    color: var(--body-color);
    margin: 0;
  }
  
  .social-links a:last-child {
    margin-right: 0;
  }
  
  .social-links a:hover {
    color: var(--theme-color);
  }
  
  .header-logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .header-links > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header-links li {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: 400;
  }
  
  .header-links li:not(:last-child) {
    margin: 0 35px 0 0;
  }
  
  .header-links li > i {
    margin-right: 10px;
    color: var(--theme-color);
  }
  
  .header-links li,
  .header-links span,
  .header-links p,
  .header-links a {
    color: var(--white-color);
    font-family: var(--title-font);
  }
  
  .header-links a:hover {
    color: var(--theme-color);
  }
  
  .header-links b,
  .header-links strong {
    font-weight: 600;
    margin-right: 6px;
  }
  
  .header-grid-info ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header-grid-info li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 15px;
  }
  
  .header-grid-info li:not(:last-child) {
    border-right: 1px solid var(--border-color);
    padding-right: 30px;
    margin-right: 30px;
  }
  
  .header-grid-info li .icon {
    font-size: 32px;
    color: var(--theme-color);
  }
  
  .header-grid-info li .header-grid-info-details p {
    margin-bottom: 2px;
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: 400;
    margin-top: -0.4em;
  }
  
  .header-grid-info li .header-grid-info-details h6 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: -0.3em;
  }
  
  /* Header 1 ---------------------------------- */
  .header-layout1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  
  .header-layout1 .sticky-wrapper {
    background: var(--white-color);
  }
  
  .header-layout1 .sticky-wrapper.sticky .header-navbar-logo {
    margin-top: 25px;
  }
  
  .header-layout1 .header-top {
    background: transparent;
    padding: 12px 0;
  }
  
  .header-layout1 .social-links {
    position: relative;
    padding-right: 20px;
  }
  
  .header-layout1 .social-links:after {
    content: '';
    position: absolute;
    left: -20px;
    right: 0;
    bottom: -14px;
    top: -15px;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
  }
  
  .header-layout1 .header-navbar-logo {
    margin-top: 0;
    padding: 15px 0;
    padding-left: 60px;
    position: absolute;
    z-index: 3;
  }
  
  .header-layout1 .menu-area {
    position: relative;
  }
  
  .header-layout1 .menu-area .logo-bg {
    position: absolute;
    height: calc(100% + 80px);
    width: 14.2%;
    top: -50px;
    left: 0;
    background: var(--theme-color);
    border-radius: 0 0 5px 0;
  }
  
  .header-layout1 .navbar-right-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .header-layout1 .navbar-right-desc .navbar-right-desc-details .title {
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: -2px;
  }
  
  .header-layout1 .navbar-right-desc .navbar-right-desc-details .link {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--title-font);
  }
  
  .header-layout1 .navbar-right-desc i {
    margin-right: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .header-layout1 .navbar-right-desc a {
    color: var(--title-color);
  }
  
  .header-layout1 .navbar-right-desc a:hover {
    color: var(--theme-color);
  }
  
  @media (max-width: 1700px) {
    .header-layout1 .header-navbar-logo {
      padding-left: 35px;
    }
    .header-layout1 .header-top .header-links {
      padding-left: 160px;
    }
    .header-layout1 .menu-area .main-menu {
      padding-left: 160px;
    }
    .header-layout1 .menu-area .logo-bg {
      width: 16%;
    }
  }
  
  /* Extra large devices */
  @media (max-width: 1500px) {
    .header-layout1 .header-top .header-links {
      padding-left: 0;
    }
    .header-layout1 .menu-area .main-menu {
      padding-left: 200px;
    }
    .header-layout1 .menu-area .logo-bg {
      height: calc(100% + 10px);
      width: 17%;
      top: 0;
    }
    .header-layout1 .header-navbar-logo {
      margin-top: 13px;
    }
    .header-layout1 .sticky-wrapper.sticky .header-navbar-logo {
      margin-top: 15px;
    }
  }
  
  /* Medium Large devices */
  @media (max-width: 1399px) {
    .header-layout1 .menu-area .main-menu {
      padding-left: 160px;
    }
    .header-layout1 .header-navbar-logo {
      padding-left: 30px;
    }
  }
  
  /* Medium Large devices */
  @media (max-width: 1299px) {
    .header-layout1 .menu-area .main-menu {
      padding-left: 230px;
    }
    .header-layout1 .menu-area .logo-bg {
      width: 20%;
    }
    .main-menu a {
      font-size: 16px;
    }
  }
  
  /* Large devices */
  @media (max-width: 1199px) {
    .header-layout1 .menu-area .logo-bg {
      display: none;
    }
    .header-layout1 .header-navbar-logo {
      display: none;
    }
    .header-layout1 .menu-area .main-menu {
      padding-left: 0;
    }
    .header-layout1 .header-logo {
      background: var(--theme-color);
      padding: 25px;
      position: relative;
    }
    .header-layout1 .header-logo:after {
      content: '';
      position: absolute;
      width: 100%;
      height: calc(100% + 10px);
      top: 0;
      left: 0;
      background: var(--theme-color);
      border-radius: 0 0 5px 5px;
      z-index: -1;
    }
  }
  
  /* Medium devices */
  @media (max-width: 991px) {
    .header-layout1 .sticky-wrapper {
      padding: 0px 20px 0;
    }
    .header-layout1 .header-navbar-logo {
      margin-top: 0;
    }
    .header-layout1 .header-navbar-logo img {
      max-width: none;
    }
    .header-layout1 .sticky-wrapper.sticky {
      top: 0;
    }
    .header-layout1 .social-links {
      padding-right: 20px;
      padding-left: 20px;
    }
    .header-layout1 .social-links:after {
      left: 0;
    }
  }
  
  /* Extra small devices */
  @media (max-width: 575px) {
    .header-layout1 .sticky-wrapper {
      padding: 0;
    }
  }
  
  /* Header 2 ---------------------------------- */
  .header-layout2 .header-top {
    padding: 15px 0;
  }
  
  .header-layout2 .header-navbar-logo {
    display: none;
  }
  
  .header-layout2 .menu-area {
    background: var(--theme-color);
  }
  
  .header-layout2 .main-menu > ul > li > a {
    padding: 16px 0;
    color: var(--white-color);
  }
  
  .header-layout2 .social-links {
    gap: 25px;
  }
  
  .header-layout2 .social-links a {
    color: var(--white-color);
  }
  
  .header-layout2 .sticky-wrapper.sticky .header-navbar-logo {
    display: block;
  }
  
  .header-layout2 .sticky-wrapper.sticky .main-menu > ul > li > a {
    padding: 31px 0;
  }
  
  /* Medium devices */
  @media (max-width: 991px) {
    .header-layout2 .header-navbar-logo {
      display: block;
    }
    .header-layout2 .icon-btn {
      background: var(--white-color);
      color: var(--title-color);
    }
  }
  
  /* Extra small devices */
  @media (max-width: 575px) {
    .header-layout2 .header-top {
      display: none;
    }
  }
  
  /* Header 3 ---------------------------------- */
  .header-layout3 .sticky-wrapper {
    background: var(--white-color);
  }
  
  .header-layout3 .sticky-wrapper.sticky .header-navbar-logo {
    margin-top: 25px;
  }
  
  .header-layout3 .header-top {
    background: var(--title-color);
    padding: 12px 0;
  }
  
  .header-layout3 .social-links {
    position: relative;
    padding-right: 20px;
  }
  
  .header-layout3 .social-links:after {
    content: '';
    position: absolute;
    left: -20px;
    right: 0;
    bottom: -14px;
    top: -15px;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
  }
  
  .header-layout3 .header-navbar-logo {
    margin-top: 0;
    padding: 15px 0;
    padding-left: 60px;
    position: absolute;
    z-index: 3;
  }
  
  /* Header 4 ---------------------------------- */
  .header-search-wrap .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid var(--border-color);
    padding: 3px 3px 3px 0;
    border-radius: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header-search-wrap .search-form .form-control {
    background: transparent;
    height: 36px;
    border: transparent;
    border-right: 1px solid var(--border-color);
    min-width: 480px;
    /* Medium Large devices */
    /* Large devices */
  }
  
  @media (max-width: 1399px) {
    .header-search-wrap .search-form .form-control {
      min-width: 280px;
    }
  }
  
  @media (max-width: 1199px) {
    .header-search-wrap .search-form .form-control {
      min-width: auto;
    }
  }
  
  .header-search-wrap .search-form .form-select {
    background-color: transparent;
    line-height: 36px;
    height: 36px;
    border: transparent;
    background-position: right 18px center;
    min-width: 250px;
    /* Large devices */
  }
  
  @media (max-width: 1199px) {
    .header-search-wrap .search-form .form-select {
      min-width: auto;
    }
  }
  
  .header-search-wrap .search-form .icon-btn {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  
  .header-user-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header-user-wrap .simple-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .header-grid-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header-grid-wrap .header-grid-text {
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: -0.3em;
    display: block;
    opacity: 0.4;
  }
  
  .header-grid-wrap .header-grid-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: -0.3em;
    margin-top: -0.4em;
  }
  
  .header-grid-wrap .header-grid-title a {
    color: inherit;
  }
  
  .header-grid-wrap .header-grid-title a:hover {
    color: var(--theme-color);
  }
  
  
  .header-layout4 .header-top {
    padding: 20px 0 0;
  }
  
  .header-layout4 .navbar-right-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .header-layout4 .navbar-right-desc .icon {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
  }
  
  .header-layout4 .navbar-right-desc .icon:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: var(--theme-color);
    opacity: 0.1;
  }
  
  .header-layout4 .navbar-right-desc .navbar-right-desc-details .title {
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: -2px;
  }
  
  .header-layout4 .navbar-right-desc .navbar-right-desc-details .link {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--title-font);
  }
  
  .header-layout4 .navbar-right-desc i {
    margin-right: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .header-layout4 .navbar-right-desc a {
    color: var(--title-color);
  }
  
  .header-layout4 .navbar-right-desc a:hover {
    color: var(--theme-color);
  }
  
  .header-layout4 .menu-area .form-select {
    height: 48px;
    line-height: 48px;
  }
  
  .header-layout4 .menu-area .form-group > i {
    right: 25px;
    top: 18px;
  }
  
  .header-layout4 .header-sticky-logo {
    display: none;
  }
  
  .header-layout4 .sticky-wrapper.sticky .header-sticky-none {
    display: none !important;
  }
  
  .header-layout4 .sticky-wrapper.sticky .header-sticky-logo {
    display: block;
  }
  
  @media (max-width: 1199px) {
    .header-layout4 .sticky-wrapper.sticky .header-lg-sticky-none {
      display: none !important;
    }
  }
  
  @media (max-width: 991px) {
    .header-layout4 .header-search-wrap .search-form .form-select {
      display: none;
    }
    .header-layout4 .sticky-wrapper.sticky .header-sticky-logo {
      display: none;
    }
  }
  
  /* Header Problem Solve Css Start */
  @media (min-width: 1701px) and (max-width: 1860px) {
    .header-layout1 .header-top .header-links, .header-layout1 .menu-area .main-menu {
      -webkit-padding-start: 60px;
              padding-inline-start: 60px;
    }
  }